<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Create New Account</h2>
            <form action="/admin-signup" method="POST">
                         <div class="form-group">
    <label >Name</label>
    <input type="text" class="form-control" name="name"  placeholder="Enter Name">
    
  </div>
                <div class="form-group">
    <label >Email address</label>
    <input type="email" class="form-control" name="email"  placeholder="Enter email">
    
  </div>
   <div class="form-group">
    <label >Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
  </div>
  <a href="admin/adminlogin">Already have account</a>
  <button type="submit" class="btn btn-primary float-right">Signup</button>
            </form>
        </div>
    </div>
</div>